.main-gameplay-screen {
  width: clamp(360px, 95%, 800px);
  display: flex;
  justify-content: center;
  max-height:430px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

button{
  display: block;
}
footer{
  bottom: 2rem;
  width:100%;
}
footer>*{
  position: fixed;
  bottom: 2rem;
}
footer>*:nth-child(1){
  left:2rem;
}
footer>*:nth-child(2){
 right:2rem;
}

.profile-link{
  position: fixed;
  top: 0;
  left:0;
}


