.main-gameplay-screen {
  width: clamp(360px, 95%, 800px);
  display: flex;
  justify-content: center;
  height:480px;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

button{
  display: block;
}
footer{
 
  display: flex;
  justify-content: space-between;
  width:100%;
  margin-bottom: 1rem;
}


.profile-link{
  position: fixed;
  top: 0;
  left:0;
  color: white;
}
.profile-link a{
  color: aqua;
}


