.main-gameplay-screen {
  width: clamp(360px, 95%, 800px);
  display: flex;
  justify-content: center;
 height:440px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

button{
  display: block;
}
footer{
 
  display: flex;
  justify-content: space-between;
  width:100%;
}



.profile-link{
  position: fixed;
  top: 0;
  left:0;
}


